*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CCFFCC;
    width: 100%;
    height: 100vh;
}
.aboutMeDiv, .section{
    margin-bottom: 40px;
}
.aboutMeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navBar{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20%;
    padding: 10px 40px 10px 40px;
}
.headerSection, header, #footerSection, footer{
    width: 100% !important;
    background-color: #233142 !important;
}
.navDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.contactDiv, .logoDiv, .socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.logoDiv a:hover{
    transform: scale(1.05);
}

li:hover, .navDiv li a:hover, .contactDiv li a:hover, i:hover{
    color: #CCFFCC !important;
    transform: scale(1.1);
}

li, .logoDiv a, i, .navDiv li a, .contactDiv li a{
    transition: all .3s ease-in-out;
}
.logoDiv{
    width: 20%;
}
.contactDiv{
    width: 10%;
}
.navDiv li, .socialMediaLinks, .contactDiv li{
    list-style-type: none;
}
.navDiv li a, .contactDiv li a, i{
    text-decoration: none;
    color: #F1E696 !important;
}

footer p{
    color: #F1E69670 !important;
}

#footerSection{
    height: fit-content;
}

.inputDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (max-width: 1199.98px) { 
    .navDiv, footer{
        gap: 20px;
    }
}